.personal-contact-section {
  @include media-breakpoint-up(md) {
    padding: 195px 0 50px;
  }
  &:before {
    @include media-breakpoint-up(md) {
      padding-bottom: 12.1%;
      background-image: url("/images/png/bogen-top-right-1920-desktop.svg");
    }
  }
  .contact-info-wrapper {
    @include media-breakpoint-up(md) {
      @include order(1);
    }
  }
  .personal-contact-row {
    @include media-breakpoint-up(md) {
      align-items: center;
    }
  }
  .contact-info {
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(flex-end);
    padding-bottom: 36px;
    @include media-breakpoint-up(md) {
      @include align-items(flex-start);
      padding: 0 0 0 15px;
    }
    h3 {
      font-weight: 400;
      margin-bottom: 2px;
    }
    .position {
      display: inline-block;
      font-size: 16px;
      line-height: 28px;
      color: $brand-color;
      font-weight: 300;
      margin-bottom: 30px;
    }
    .tel-no {
      display: block;
      font-size: 22px;
      line-height: 34px;
      font-weight: 400;
      margin: 25px 0 18px;
      color: #373737;
    }
    .profile-info {
      flex: 0 0 44.1%;
      max-width: 44.1%;
      padding-top: 60px;
      @include media-breakpoint-up(md) {
        flex: 0 0 57%;
        max-width: 57%;
        padding-top: 8px;
      }
      @media (max-width: 350px) {
        padding-left: 15px;
      }
    }
  }
  .rounded-image-box {
    position: relative;
    z-index: 1;
    height: 150px;
    width: 150px;
    border-radius: 75px;
    @include media-breakpoint-up(lg) {
      height: 210px;
      width: 210px;
      border-radius: 103px;
    }
    .circle {
      border-color: #0a4b81;
    }
    .img-in {
      height: 150px;
      width: 150px;
      border-radius: 75px;
      @include media-breakpoint-up(lg) {
        height: 210px;
        width: 210px;
        border-radius: 103px;
      }
    }
  }
  .contact-desc {
    h1 {
      font-size: 38px;
      line-height: 50px;
      margin-bottom: 10px;
      @include media-breakpoint-up(lg) {
        font-size: 68px;
        line-height: 80px;
        margin-bottom: 25px;
      }
    }
    .contact-content {
      padding-right: 18px;
      .btn {
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .btn-wrapper {
    .btn {
      margin-right: 15px;
      margin-bottom: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
