.spacer-xl {
  padding-bottom: 125px;
  @include media-breakpoint-up(md) {
    padding-bottom: 200px;
  }
}

.spacer-large {
  padding-bottom: 100px;
  @include media-breakpoint-up(md) {
    padding-bottom: 150px;
  }
}

.spacer-medium {
  padding-bottom: 50px;
  @include media-breakpoint-up(md) {
    padding-bottom: 100px;
  }
}

.spacer-small {
  padding-bottom: 25px;
  @include media-breakpoint-up(md) {
    padding-bottom: 50px;
  }
}
